<!DOCTYPE html>
<html lang="en-US">
<head>
{{template "head" .}}
<script type="text/javascript">
function startService(idx) {
    $.ajax({
      type: 'POST',
      url: '/pr/'+idx+'/run',
    }).done((resp) => {
      alert(idx);
    });
}
</script>
</head>
<body>
{{template "navbar" .}}
<ul>
{{range .pulls}}
<li>{{.Number}}: <a href="{{.HTMLURL}}">{{.Title}}</a> <button onclick="javascript:startService({{.Number}});">Start Service</button></li>
{{end}}
</ul>
</body>
</html>